@{
    ViewBag.Title = "Index";
    Layout = null;
}

<style>
    .avt-container {
        width: 80%;
        border: 1px solid lightgray;
    }
</style>

<script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "@Url.Content("//dev.content.avt.com/scripts/publisher/sdk.js")";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'avt-publisher-sdk'));</script>

<div id="test1" class="avt-container" data-slot="5711d654bb2f411b8dafc4369e74e553">
</div>

<div id="test2" class="avt-container" data-slot="">
</div>