@{
    ViewBag.Title = "Index";
    Layout = null;
}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    .avt-container {
    }
</style>

<script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "@Url.Content("//dev.content.avt.com/scripts/publisher/sdk.js")";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'avt-publisher-sdk'));</script>

<div id="lipsum">
    <p>
        Vestibulum condimentum vehicula lobortis. In luctus neque hendrerit elementum aliquet. Nunc euismod sem urna, ac consectetur mi cursus rhoncus. Aenean hendrerit purus eu nisl placerat vestibulum ac nec justo. Cras pulvinar facilisis rutrum. Vivamus cursus auctor nulla sit amet tempor. Donec condimentum auctor lorem nec volutpat. Suspendisse volutpat ut odio a malesuada. Praesent aliquam tortor vel ligula blandit, quis rutrum odio congue.
    </p>
    <div class="row">
        <p class="col-xs-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et sollicitudin nisl, ut fermentum tellus. Nullam ac pretium justo, nec aliquet velit. Sed sed velit enim. Duis facilisis pretium pellentesque. Donec consectetur gravida ultrices. Aliquam id libero tincidunt, iaculis velit volutpat, hendrerit neque. Donec et nisl eu ipsum pellentesque tempus. Suspendisse ullamcorper, turpis non mattis luctus, neque neque molestie libero, at facilisis tellus mi luctus sapien. Duis lectus erat, aliquet at augue et, lacinia faucibus enim. Phasellus sollicitudin, est nec rhoncus convallis, est erat sagittis lectus, in tristique purus ante et lorem.
        </p>
        <div id="test1" class="avt-container avt-responsive col-xs-7" data-slot="5711d654bb2f411b8dafc4369e74e553"></div>
    </div>
    <p>
        Morbi pulvinar lacus eu rhoncus bibendum. Nunc bibendum risus at felis commodo mollis ut dapibus enim. Donec commodo malesuada ligula, quis tincidunt risus tempus at. Praesent id vulputate felis, in lacinia augue. Curabitur auctor urna eget ipsum rutrum laoreet. Curabitur pulvinar sollicitudin augue eget consectetur. In luctus est sem, at molestie nunc mollis nec. Sed adipiscing nunc dolor, sit amet elementum sem imperdiet ac. Ut sed justo sit amet nisl facilisis condimentum vel sit amet nisi. Quisque pulvinar elit massa, id luctus tortor ultrices eu. Donec vitae varius augue. Pellentesque nulla nibh, scelerisque sed eros dignissim, molestie malesuada arcu. Quisque at fringilla leo. Ut massa lectus, porttitor sed consectetur ac, vehicula ac mauris.
    </p>
    <p>
        Fusce porta libero nec aliquam commodo. Quisque placerat malesuada nisl, sit amet feugiat libero dictum eget. Nam diam nisl, vehicula vitae eros vel, imperdiet tincidunt neque. Curabitur in neque nulla. Nulla risus orci, condimentum vitae velit eget, tincidunt aliquet enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et dolor vehicula, iaculis dui sit amet, scelerisque massa. Quisque malesuada, leo nec sodales aliquam, odio tortor tempus ante, in pharetra enim neque a elit. Cras sed mi nec odio luctus consequat nec vehicula velit. Suspendisse volutpat at neque in suscipit.
    </p>
    <p>
        Aliquam viverra elementum pulvinar. Nullam congue dictum neque, eu dignissim diam eleifend eget. Etiam venenatis a ante nec feugiat. Duis pulvinar ante eros, sed laoreet elit consectetur nec. Fusce fermentum tincidunt porta. Fusce scelerisque est ante, quis placerat neque dignissim vitae. Morbi gravida consectetur massa, sed laoreet magna cursus quis. Nulla at elit quis nisi tempor suscipit. In hac habitasse platea dictumst. In sed quam nulla. Aliquam urna erat, euismod ut consectetur sed, sollicitudin eget quam. Integer ut dolor vitae felis tincidunt vestibulum in ac augue. Vestibulum sit amet vehicula dui, eget egestas sem. Pellentesque dignissim urna quis euismod consequat. Nunc ut justo nec tortor molestie venenatis. Etiam purus tortor, porttitor dapibus molestie et, commodo vitae ipsum.
    </p>
    @*<div id="test2" class="avt-container" data-slot="">
    </div>*@
    <p>
        Pellentesque tempor tincidunt varius. Praesent at fermentum tellus. Nam cursus quam eu placerat porttitor. Phasellus tortor nulla, adipiscing eu faucibus id, mollis et orci. Phasellus malesuada massa neque, sed ullamcorper quam gravida vitae. Phasellus mattis gravida libero, ac iaculis nisi. Donec non orci sed eros ornare egestas tempus eu sem. Morbi elementum sodales libero hendrerit suscipit. Sed porttitor sollicitudin cursus. Mauris ullamcorper dictum lacus eu placerat. Duis ornare euismod lacus, non volutpat turpis fringilla at. Duis accumsan nisi lorem, ut tincidunt nisi porttitor elementum. Donec ac lectus vel nibh pharetra consequat. Donec gravida odio a nibh blandit, eget imperdiet arcu sagittis. Fusce et ipsum malesuada, ultricies mi quis, rhoncus leo.
    </p>
    <p>
        Phasellus suscipit est ut augue ultricies accumsan. Duis id ipsum facilisis, iaculis dolor quis, pretium metus. Cras dolor turpis, malesuada id luctus ac, convallis at nibh. Vivamus fermentum gravida nibh vitae pharetra. Cras bibendum consequat convallis. Cras velit magna, varius et massa id, pellentesque volutpat tellus. Ut fermentum felis ligula, vitae congue eros pretium at. Nullam rhoncus sapien libero, in dignissim lectus ultrices eu. Mauris vel vulputate nisl. Sed iaculis, mi a euismod malesuada, nunc elit posuere enim, et fringilla leo ante nec lectus. Donec fermentum hendrerit lorem, vel tempus leo.
    </p>
    <p>
        Donec eu sapien quis lorem pretium pharetra eu ac erat. Sed lorem dui, rhoncus vel orci sed, pulvinar aliquet lectus. Maecenas nec risus tincidunt, pharetra mauris nec, luctus justo. Curabitur cursus leo sapien, sit amet fringilla lacus tempus sed. Nullam metus tellus, bibendum vel tincidunt sed, fringilla semper turpis. Ut ultricies nisl placerat est luctus, eu consectetur tortor sollicitudin. Sed eu aliquam nunc, sed varius leo.
    </p>
</div>