@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        #sample {
            background-color: lightblue;
            overflow: hidden;
            width:100%;
            min-width: 238px;
        }
        .box {
            width: 200px;
            height: 200px;
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;
            background-color: white;
            border: 1px solid;
        }
    </style>
</head>
<body>
    <div id="sample">
        <div class="box"></div>
        <div class="box">
            <a href="/">Link</a>
        </div>
        <div class="box">
            <a href="http://google.com" target="_blank">Link Target Blankx</a>
        </div>
    </div>


    <script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "@Url.Content("//dev.content.avt.com/scripts/advertiser/sdk.js")";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'avt-publisher-sdk'));</script>

</body>
</html>
