<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="adsVenture">
      <section name="commons" type="AdsVenture.Commons.Helpers.ConfigSection, AdsVenture.Commons" allowLocation="true" allowDefinition="Everywhere" />
      <section name="data" type="AdsVenture.Data.Helpers.ConfigSection, AdsVenture.Data" allowLocation="true" allowDefinition="Everywhere" />
      <section name="core" type="AdsVenture.Core.Helpers.ConfigSection, AdsVenture.Core" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="DataContext" providerName="System.Data.SqlClient"
         connectionString="Server=(local);Database=AdsVenture;Uid=sa;Pwd=1234;" />
  </connectionStrings>
  <adsVenture>
    <commons>
    </commons>
    <data>
      <cacheContext minutesDuration="1440" prefix="CacheContext_" />
    </data>
    <core>
      <alert defaultMinutesToThrow="30" />
      <profile activationMailTemplate="foxchannels-newuser-es" welcomeMailTemplate="foxchannels-newuser-es" />
    </core>
  </adsVenture>
  <appSettings>
    <add key="Data.Path" value="..\\..\\Data" />
  </appSettings>
  <autofac defaultAssembly="AdsVenture.Core">
    <components>
      
      <!--****************
               CACHE 
          ****************-->
      
      <component type="Sixeyed.Caching.Caches.MemoryCache, Sixeyed.Caching"
                 service="Sixeyed.Caching.ICache, Sixeyed.Caching"
                 instance-scope="single-instance" inject-properties="yes" />

      <!--*******************
               MAILER 
          *******************-->
      
      <component type="AdsVenture.Core.Helpers.Mailing.NullMailer, AdsVenture.Core" service="AdsVenture.Core.Helpers.Mailing.IMailer, AdsVenture.Core" />
      <!--<component type="AdsVenture.Core.Helpers.Mailing.MailPuppetMailer, AdsVenture.Core"
              service="AdsVenture.Core.Helpers.Mailing.IMailer, AdsVenture.Core" >
        <parameters>
          <parameter name="urlFormat" value="http://mailpuppet.foxites.com/mailpuppet.asmx/SendRecommendation?toName={toName}&amp;toEmail={toAddress}&amp;fromName={fromName}&amp;fromEmail={fromAddress}&amp;templateName={templateName}&amp;parameters={parameters}" />
          <parameter name="fromAddress" value="noreply@fox.com" />
          <parameter name="fromName" value="services.fox.com" />
          <parameter name="timeout" value="00:00:30" />
        </parameters>
      </component>-->

      <!--************************
               FACEBOOK PROXY 
          ************************-->

      <component type="AdsVenture.Core.Helpers.Facebook.InTokenDataFacebookProxy, AdsVenture.Core" service="AdsVenture.Core.Helpers.Facebook.IFacebookProxy, AdsVenture.Core" />
      <!--<component type="AdsVenture.Core.Helpers.Facebook.FacebookProxy, AdsVenture.Core"
              service="AdsVenture.Core.Helpers.Facebook.IFacebookProxy, AdsVenture.Core" />-->
      
    </components>
  </autofac>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="xunit" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.1705" newVersion="1.9.2.1705" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
