@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>21CF SYS markup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    <link href="//cdn.dotfox.com/common/V2.4/css/thirdparty/compiled.css" rel="stylesheet">
    <link href="//cdn.dotfox.com/common/V2.4/css/style.css" rel="stylesheet">
    <link href="//cdn.dotfox.com/common/V2.4/css/template-fic.css" rel="stylesheet">

    <link href="//cdn.dotfox.com/common/V2.4/img/fic-favicon.ico" rel="shortcut icon">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body class="error_500">

    <div class="error_container">
        <div class="error_text">
            <h1>SORRY!</h1>
            <h2>Unexpected Server Error</h2>
        </div>
        <div class="error_image">Error Image</div>
        <div class="error_bg"></div>
    </div>
    <footer>
        <p>
            <a href="@Url.Action("", "")">Go to dashboard</a>
            |
            <a href="https://dotfox.wufoo.com/forms/z7x0q1/" onclick="window.open(this.href,  null, 'height=437, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Contact us</a>
        </p>
    </footer>

</body>
</html>