<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    ***************
        PROD
    ***************
  -->
  <connectionStrings xdt:Transform="Replace">
    <add name="DataContext" providerName="System.Data.SqlClient"
      connectionString="Data Source=_____;Initial Catalog=AdsVenture;User Id=contentServer;Password=_____;"/>
  </connectionStrings>

  <adsVenture>
    <commons></commons>
    <data></data>
    <core></core>
    <presentation>
      <contentServer></contentServer>
    </presentation>
  </adsVenture>

  <autofac>
    <components>
    </components>
  </autofac>

  <log4net>
    <appender name="FileAppender" xdt:Locator="Match(name)" >
      <file value="C:\\Logs\\AdsVenture\\ContentServer\\Prod\\Error.log"
            xdt:Transform="SetAttributes" />
    </appender>
    <appender name="FileAppenderWarn" xdt:Locator="Match(name)" >
      <file value="C:\\Logs\\AdsVenture\\ContentServer\\Prod\\Warn.log"
            xdt:Transform="SetAttributes" />
    </appender>
  </log4net>

</configuration>