<connectionStrings>
  <add name="DataContext" providerName="System.Data.SqlClient"
    connectionString="Server=tcp:fyajivk5nm.database.windows.net,1433;Database=plg;User ID=contentserver@fyajivk5nm;Password=plgcs1234!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"/>
</connectionStrings>